# For ease of manual testing
.gitmessage
.gitconfig_stub

# Emacs
*~
.#*
\#*\#
TAGS

# Mac
.DS_Store

# pytest
__pycache__
.pytest_cache

# when running an election
**/CVRs/ballot.json
**/CVRs/cast-ballot.json
**/CVRs/receipt.csv
**/RECEIPTs/*/*/qr.svg
# Note - only the receipt.md is versioned
**/RECEIPTs/*/*/receipt-qr.md
